body {
  margin: 0;
  padding: 0;
}

* {
  color: #2c3e50;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Avenir, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
